@model ProductResult

<tr>
    <td>@Model.Name</td>
    <td>@Model.Description</td>
    <td>@Model.Manufacturer</td>
    <td>@Model.Publisher</td>
    <td>@Model.RentalExpiresAfterDays</td>
    <td></td>
</tr>
