@model ProductResult

<tr>
    <td>@Model.Name</td>
    <td>@Model.Description</td>
    <td>@Model.Manufacturer</td>
    <td>@Model.Publisher</td>
    <td>@Model.RentalExpiresAfterDays</td>
    <td></td>
    <td>
        <button class="alert-danger"><a asp-controller="Product" asp-action="Delete" asp-route-id="@Model.Id"> Delete </a></button>
        <button class="alert-secondary"><a asp-controller="Product" asp-action="EditPage" asp-route-id="@Model.Id"> Edit </a></button>
    </td>
</tr>
